server/.*
server/*.iml

server/build
server/.kotlin
server/.idea

server/application.conf
server/proxies.json

server/scripts/node_modules
server/data

client/.next
client/.vscode
client/node_modules
client/.env.local

**/Dockerfile