@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode variables */
  --super: 250, 250, 250;
  --background-color: 229 229 229;       /* neutral-200 */
  --background-secondary-color: 212 212 212;  /* neutral-300 */
  --background-tertiary-color: 163 163 163; /* neutral-400 */
  --background-opposite: 23 23 23;        /* neutral-950 */
  --background-secondary-opposite: 64 64 64;  /* neutral-700 */
  --text-color: 23 23 23;                /* neutral-950 */
  --text-secondary-color: 64 64 64;      /* neutral-700 */
  --text-tertiary-color: 96 96 96;       /* neutral-600 */
  --text-opposite: 250 250 250;          /* neutral-50 */
  --text-secondary-opposite: 229 229 229;/* neutral-200 */
  /*Graph Colors*/
  --graph-color-1: 0, 85, 255;     /* #0055FF - Blue */
  --graph-color-2: 0, 204, 102;    /* #00CC66 - Green */
  --graph-color-3: 255, 87, 51;    /* #FF5733 - Orange-Red */
  --graph-color-4: 255, 167, 38;   /* #FFA726 - Orange */
  --graph-color-5: 212, 172, 13;   /* #D4AC0D - Yellow */
  --graph-color-6: 229, 57, 53;    /* #E53935 - Red */
  --graph-color-7: 255, 193, 7;    /* #FFC107 - Amber */
  --graph-color-8: 2, 136, 209;    /* #0288D1 - Light Blue */
  --graph-color-9: 67, 160, 71;    /* #43A047 - Green */
  --graph-color-10: 211, 47, 47;   /* #D32F2F - Red */
  --graph-color-11: 141, 110, 99;  /* #8D6E63 - Brown */
  --graph-color-12: 56, 142, 60;   /* #388E3C - Green */
  --graph-color-13: 194, 24, 91;   /* #C2185B - Pink */
  --graph-color-14: 230, 74, 25;   /* #E64A19 - Deep Orange */
  --graph-color-15: 248, 187, 208; /* #F8BBD0 - Pink */
  --graph-color-16: 255, 204, 188; /* #FFCCBC - Deep Orange */
  --graph-color-17: 197, 225, 165; /* #C5E1A5 - Light Green */
  --graph-color-18: 255, 214, 0;   /* #FFD600 - Yellow */
  --graph-color-19: 255, 171, 145; /* #FFAB91 - Deep Orange */
  --graph-color-20: 161, 136, 127; /* #A1887F - Brown */
  --graph-color-21: 123, 31, 162;  /* #7B1FA2 - Purple */
  --graph-color-22: 255, 196, 0;   /* #FFC400 - Amber */
  --graph-color-23: 255, 224, 130; /* #FFE082 - Amber */
}

.dark {
  /* Dark mode variables */
  --super: 0, 0, 0;
  --background-color: 24 24 27;          /* zinc-900 */
  --background-secondary-color: 39 39 42;/* zinc-800 */
  --background-tertiary-color: 96 96 96; /* neutral-600 */
  --background-opposite: 250 250 250;    /* neutral-50 */
  --background-secondary-opposite: 229 229 229;  /* neutral-200 */
  --text-color: 250 250 250;             /* neutral-50 */
  --text-secondary-color: 229 229 229;   /* neutral-200 */
  --text-tertiary-color: 115 115 115;    /* neutral-500 */
  --text-opposite: 23 23 23;             /* neutral-950 */
  --text-secondary-opposite: 64 64 64;   /* neutral-700 */
  /*Graph Colors*/
  --graph-color-1: 135, 206, 250;  /* #87CEFA - Light Blue */
  --graph-color-2: 152, 251, 152;  /* #98FB98 - Pale Green */
  --graph-color-3: 255, 160, 122;  /* #FFA07A - Light Salmon */
  --graph-color-4: 255, 228, 181;  /* #FFE4B5 - Moccasin */
  --graph-color-5: 240, 230, 140;  /* #F0E68C - Khaki */
  --graph-color-6: 255, 99, 71;    /* #FF6347 - Tomato */
  --graph-color-7: 255, 215, 0;    /* #FFD700 - Gold */
  --graph-color-8: 176, 224, 230;  /* #B0E0E6 - Powder Blue */
  --graph-color-9: 0, 250, 154;    /* #00FA9A - Medium Spring Green */
  --graph-color-10: 255, 69, 0;    /* #FF4500 - Orange Red */
  --graph-color-11: 189, 183, 107; /* #BDB76B - Dark Khaki */
  --graph-color-12: 143, 188, 143; /* #8FBC8F - Dark Sea Green */
  --graph-color-13: 255, 105, 180; /* #FF69B4 - Hot Pink */
  --graph-color-14: 250, 128, 114; /* #FA8072 - Salmon */
  --graph-color-15: 255, 218, 185; /* #FFDAB9 - Peach Puff */
  --graph-color-16: 255, 228, 225; /* #FFE4E1 - Misty Rose */
  --graph-color-17: 240, 255, 240; /* #F0FFF0 - Honey Dew */
  --graph-color-18: 255, 236, 139; /* #FFEC8B - Light Golden */
  --graph-color-19: 255, 228, 196; /* #FFE4C4 - Bisque */
  --graph-color-20: 210, 180, 140; /* #D2B48C - Tan */
  --graph-color-21: 221, 160, 221; /* #DDA0DD - Plum */
  --graph-color-22: 255, 215, 0;   /* #FFD700 - Gold */
  --graph-color-23: 255, 235, 205; /* #FFEBCD - Blanched Almond */


}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.filter {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.ReactCollapse--collapse {
  transition: height 500ms;
}