@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode variables */
  --background-color: 250 250 250;       /* neutral-50 */
  --background-secondary-color: 229 229 229;  /* neutral-200 */
  --background-tertiary-color: 242 242 242; /* neutral-100 */
  --background-opposite: 23 23 23;        /* neutral-950 */
  --background-secondary-opposite: 64 64 64;  /* neutral-700 */
  --text-color: 23 23 23;                /* neutral-950 */
  --text-secondary-color: 64 64 64;      /* neutral-700 */
  --text-opposite: 250 250 250;          /* neutral-50 */
  --text-secondary-opposite: 229 229 229;/* neutral-200 */
}

.dark {
  /* Dark mode variables */
  --background-color: 23 23 23;          /* neutral-950 */
  --background-secondary-color: 64 64 64;/* neutral-700 */
  --background-tertiary-color: 96 96 96; /* neutral-600 */
  --background-opposite: 250 250 250;    /* neutral-50 */
  --background-secondary-opposite: 229 229 229;  /* neutral-200 */
  --text-color: 250 250 250;             /* neutral-50 */
  --text-secondary-color: 229 229 229;   /* neutral-200 */
  --text-opposite: 23 23 23;             /* neutral-950 */
  --text-secondary-opposite: 64 64 64;   /* neutral-700 */

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.filter {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.ReactCollapse--collapse {
  transition: height 500ms;
}