@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Colfax', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@font-face {
  font-family: 'Colfax';
  src: local('Colfax'), url(./fonts/Colfax-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Colfax';
    font-weight: 900;
    src: local('Colfax'), url(./fonts/Colfax-Black.otf) format('opentype');
}

@font-face {
  font-family: 'Colfax';
  font-weight: 700;
  src: local('Colfax'), url(./fonts/Colfax-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Colfax';
  font-weight: 500;
  src: local('Colfax'), url(./fonts/Colfax-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Colfax';
  font-weight: 300;
  src: local('Colfax'), url(./fonts/Colfax-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Colfax';
  font-weight: 100;
  src: local('Colfax'), url(./fonts/Colfax-Thin.otf) format('opentype');
}